%p
  here you can upload your image files, beware they have to be pngs

%form(method="post" enctype='multipart/form-data')
  %input(type='file' name='myfile')
  %br
  %input(type='submit' value='Upload!')
